.container_reply {
    display: flex;
    margin: 50px auto;
    font-weight: 600;
}

.wrapper {
    margin: 150px calc(25% - 115px) 0 ;
}

.container {
    display: flex;
    color: rgb(68, 126, 94);
    font-size: 30px;
    margin-bottom: 30px;
}

.num {
    background: rgb(126, 236, 175);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sing {
    width: 40px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
}

input {
    box-sizing: border-box;
    border: none;
    color: rgb(68, 126, 94);
    font-size: 30px; 
    text-align: center;
}

button {
    cursor: pointer;
    display: block;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    margin-left: 30px;
    border-radius: 5px;
    border: none;
    background: rgb(200, 155, 243);
    color: rgb(99, 70, 126);
    font-size: 25px;
    margin: 20px auto;
}

.reply_next {
    margin: 30px auto;
    display: flex;
}

.reply {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
    margin: 0 auto;
    top: 50px;
    border-radius: 5px;
    color: rgb(209, 198, 45);
}

#multiplication {
    right: calc(25% - 75px);
}

#application {
    left: calc(25% - 75px);
}

.watch {
    display: flex;
}

i {
    transform: scale(3);
}

.red {
    color: rgb(214, 73, 73);
}

::placeholder {
    color: rgb(68, 126, 94);
    font-size: 18px;
  }


  @media (max-width:500px) {
    .container_reply {
        flex-direction: column;
    }

    .container {
        width: 230px;
        margin: 0 auto;
    }

    #multiplication {
        top: 350px;
        right: calc(50% - 75px);
    }
    
    #application {
        
        left: calc(50% - 75px);
    }
  }