.container_reply {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    font-weight: 600;
}

.container {
    margin: 100px auto;
    display: flex;
    color: rgb(68, 126, 94);
    font-size: 30px;
}

.num {
    background: rgb(126, 236, 175);
    border-radius: 20px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sing {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
}

input {
    box-sizing: border-box;
    border: none;
    color: rgb(68, 126, 94);
    font-size: 30px; 
    text-align: center;
}

button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    margin-left: 30px;
    border: 1px solid black;
    border-radius: 5px;
    border: none;
    background: rgb(200, 155, 243);
    color: rgb(99, 70, 126);
    font-size: 30px;
}

.reply_next {
    margin: 30px auto;
    display: flex;
}

.reply {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
    top: 50px;
    left: calc(50% - 75px);
    border-radius: 5px;
    color: rgb(209, 198, 45);
}

.watch {
    display: flex;
}

i {
    transform: scale(3);
}

.red {
    color: rgb(214, 73, 73);
}

::placeholder {
    color: rgb(68, 126, 94);
    font-size: 20px;
  }